<ion-header>
  <ion-toolbar>
    <ion-title>ACERCA DE NOSOTROS</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="acerca-img">
    <img src="assets/img/acerca.png" alt="">
  </div>
  <div class="texto-acerca">
  <h2>SuperHero app</h2>
  <p style="font-style: italic; font-weight: bold;">Esta app fue creada por:</p>
  <p>Gonzalez, Edgardo</p>
  <p>La Terra, Juan</p>
  <p>Mello da Silva, Soledad</p>
  <p>Zarra, Antonio</p>
  <br>
  <p>Versión: 1.0.0 - 2024</p>

  </div>

  
    <ion-button (click)="dismissModal()" color="rojizo" class="boton-modal">Cerrar</ion-button>
  
</ion-content>


