<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DETALLES DEL PERSONAJE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-fondo" *ngIf="personaje" >
  <ion-card id="personaje-card">
    <ion-card-header class="header-personaje">
      <ion-card-title class="nombre-personaje">{{personaje.name}}</ion-card-title>
      <div class="cuerpo-tarjeta">
      <img [src]="personaje.image.url" class="character-image">
    
      <ion-button color="celeste" class="btn-favoritos" (click)="AgregarFavoritos()" style="font-size:strong" >Agregar a Favoritos</ion-button>
    </div>
    </ion-card-header>

    <ion-card-content class="info-personaje">
      <!-- <ion-button (click)="caputrarCardEnPdf()">Descargar en PDF</ion-button> -->
      <div class="section">
        
        <h2>Información Personal</h2>
        <p><strong> Nombre Completo:</strong> {{ personaje.biography['full-name'] }} </p>
        <p><strong>Identidad Secreta:</strong> {{ personaje.biography['alter-egos'] }} </p>
        <p><strong>Género:</strong> {{ personaje.appearance.gender }}</p>
        <p><strong>Color de Ojos:</strong> {{ personaje.appearance['eye-color'] }} </p>
        <p><strong>Color de Pelo:</strong> {{ personaje.appearance['hair-color'] }} </p>
        <p><strong>Altura:</strong> {{ personaje.appearance.height.join(', ') }}</p>
        <p><strong>Peso:</strong> {{ personaje.appearance.weight.join(', ') }}</p>
        <p><strong>Raza:</strong> {{ personaje.appearance.race }}</p>
        <p><strong>Lugar de Nacimiento:</strong> {{ personaje.biography['place-of-birth'] }}</p>
      </div>

      <div class="section">
        <h2>Biografía</h2>
        <p><strong>Alias:</strong> {{ personaje.biography.aliases.join(', ') }}</p>
        <p><strong>Primera Aparición:</strong> {{ personaje.biography['first-appearance'] }}</p>
        <p><strong>Publicador:</strong> {{ personaje.biography.publisher }}</p>
        <p><strong>Alineación:</strong> {{ personaje.biography.alignment }}</p>
        <p><strong>Alter Egos:</strong> {{ personaje.biography['alter-egos'] }}</p>
      </div>

      <div class="section">
        <h2>Conexiones</h2>
        <p><strong>Afiliación:</strong> {{ personaje.connections['group-affiliation'] }}</p>
        <p><strong>Familia:</strong> {{ personaje.connections.relatives }}</p>
      </div>

    

      <div class="section">
        <h2>Trabajo</h2>
        <p><strong>Ocupación:</strong> {{ personaje.work.occupation }}</p>
        <p><strong>Base:</strong> {{ personaje.work.base }}</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
