<app-menu>
  <ion-content>
    <ion-item class="buscador">
      <ion-input
        class="custom-input"
        [(ngModel)]="nombrePersonaje"
        style="display: fixed"
        (keydown.enter)="SearchCharacter()"
        placeholder="Ingresar nombre"
      ></ion-input>
      <ion-button (click)="SearchCharacter()">Buscar</ion-button>
    </ion-item>
    
      <div class="error" *ngIf="error">
      </div>
      <ul *ngIf="personajes.length > 0" class="containers" style="margin-top: 45px;">
        <li *ngFor="let character of personajes">
          <ion-card
            class="cardContainer"
          >
          <ion-card-content class="cardItem" (click)="goToCharacterDetail(character.id)">
                <!-- Llamamos la función con el ID del personaje -->
                <img loading="lazy" [src]="character.image.url" />
               
                <ion-label>{{character.name}}</ion-label>
              </ion-card-content>
            </ion-card>
        </li>
      </ul>
  </ion-content>
</app-menu>
