<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="toolbar-container">
        <ion-img
          src="assets/img/logobar.png"
          alt="Superhéroe"
          class="logobar"
        ></ion-img>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="buscador">
    <ion-input
      class="custom-input"
      [(ngModel)]="nombrePersonaje"
      style="display: fixed"
      (keydown.enter)="SearchCharacter()"
      placeholder="Ingresar nombre"
    ></ion-input>
    <ion-button (click)="SearchCharacter()">Buscar</ion-button>
  </ion-item>
  {{error}}

  <ion-card>
    <ul *ngIf="personajes.length > 0" class="containers">
      <li *ngFor="let character of personajes">
        <ion-card-content class="cardContainer">
          <ion-list>
            <ion-item
              class="cardItem"
              (click)="goToCharacterDetail(character.id)"
            >
              <!-- Llamamos la función con el ID del personaje -->
              <img [src]="character.image.url" />
              <ion-label>{{character.name}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </li>
    </ul>
  </ion-card>
</ion-content>
