.errorTitle{
    color: black;
    font-weight: bold;
    font-size: 25px;
}
.error {
    
    background: url('/assets/img/sin-resultados.jpg');
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  width: 100vw; 
 

 
}

.container{
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;      /* Centra verticalmente */
    flex-direction: column;   /* Asegura que los elementos se coloquen en columna */
    text-align: center; 
}
.lista p, h2{
   text-align: center;
  /* Asegura que los elementos se coloquen en columna */
}
.title{
    
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
li{
    list-style: none;
    text-align: center;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    
    margin: 30px 15px 0px 15px;
    
    border-radius: 5px;
    background: var(--ion-color-azulado);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
  }
  .containers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    gap: 16px; /* Espacio entre las cartas */
    padding: 16px; /* Espacio alrededor del grid */
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    
    
    
}

.cardItem img{
    width:100px;
    height: 100px;
    border-radius: 20%;
    object-fit: cover; /* Hace que la imagen mantenga su proporción */
    
      
}
ion-label {
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.cardItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
     

}

.logobar {
    width: 50%; /* Cambia el tamaño al 50% del contenedor */
  max-width: 50px; /* Limita el tamaño máximo de la imagen */
  height: auto; /* Mantiene la proporción original */
    
    object-fit: contain; /* Ajusta la imagen sin recortarla ni distorsionarla */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    align-items: center;
  }

  .buscador {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    position: fixed;
   
    width: 100%
  }

  
  ::ng-deep ion-toolbar {
    --background: #8dbada; 
    --color: white; 
  }

  ion-card {
    background: var(--ion-color-celeste);
    padding-top: 10%;
    padding-bottom: 10%;
    margin:0%;
   
   
  }

  ion-list {
    background: yellow;
}
  


