<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PERSONAJES FAVORITOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="personajes_favoritos && personajes_favoritos.length > 0; else noFavorites"
  >
    <ion-list>
      <ng-container
        *ngFor="let personaje of personajes_favoritos; let i = index"
        (click)="goToCharacterDetail(personaje.id)"
      >
        <ion-item-sliding>
          <ion-item>
            <ion-card-content class="header-personaje">
              
               <div class="nombre-personaje "> {{ personaje.name }} </div>
                
             
              <div class="cuerpo-tarjeta">
                <img
                  class="imgPersonaje"
                  [id]="'imagen-' + i"
                  [src]="personaje.image.url"
                  slot="start"
                />
                <div class="botones-ficha">
                <ion-button color="azulado" class="btn-ficha" (click)="descargarPdf(personaje)" >
                  descargar  <ion-icon name="arrow-down-circle-outline"> </ion-icon>
                </ion-button>
                <ion-button  color="warning"  class="btn-ficha"(click)="goToCharacterDetail(personaje.id)" >
                  ver ficha  <ion-icon name="document-text-outline"></ion-icon>
                </ion-button>
              </div> <!--fin botones ficha-->
                </div> <!-- fin cuerpo tarjeta  -->
    
            </ion-card-content>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="confirmarBorrado(personaje)"> 
              <ion-icon style="font-size: 20px;" name="trash-outline"></ion-icon>
            </ion-item-option>
                    
          </ion-item-options>

          
        </ion-item-sliding>
      </ng-container>
    </ion-list>
  </ng-container>

  <ng-template #noFavorites >
  <ion-img class="sinFavoritos"> </ion-img> 
  </ng-template>
</ion-content>

