<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>Personajes Favoritos</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="personajes_favoritos && personajes_favoritos.length > 0; else noFavorites">
    <ion-list>
      <ion-item *ngFor="let personaje of personajes_favoritos">
        <img [src]="personaje.image.url" slot="start"> 
        <ion-label>{{ personaje.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
  
  <ng-template #noFavorites>
    <p>No hay personajes favoritos</p>
  </ng-template>
</ion-content>
