<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h2>Personajes Favoritos</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
    *ngIf="personajes_favoritos && personajes_favoritos.length > 0; else noFavorites"
  >
    <ion-list>
      <ng-container
        *ngFor="let personaje of personajes_favoritos; let i = index"
        (click)="goToCharacterDetail(personaje.id)"
      >
        <ion-item-sliding>
          <ion-item>
            <ion-card-content>
              <div class="section">
                <h2>{{ personaje.name }}</h2>
                <img
                  class="imgPersonaje"
                  [id]="'imagen-' + i"
                  [src]="personaje.image.url"
                  slot="start"
                />
              </div>
                <ion-button  class="favorite-button" (click)="descargarPdf(personaje)" >
                  descargar  <ion-icon name="arrow-down-circle-outline"> </ion-icon>
                </ion-button>
                <ion-button  color="medium" (click)="goToCharacterDetail(personaje.id)" >
                  ver ficha  <ion-icon name="document-text-outline"></ion-icon>
                </ion-button>
    
            </ion-card-content>
          </ion-item>

          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="quitarFavorito(personaje.id)"> 
              <ion-icon style="font-size: 20px;" name="trash-outline"></ion-icon>
            </ion-item-option>
                    
          </ion-item-options>

          
        </ion-item-sliding>
      </ng-container>
    </ion-list>
  </ng-container>

  <ng-template #noFavorites >
  <ion-img class="sinFavoritos"> </ion-img> 
  </ng-template>
</ion-content>
