<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-login ion-padding">

  <div class="logo-container">
    <br>
    <ion-img src="assets/img/logo.png" alt="Superhéroe" class="logo"></ion-img>
    <br>
</div>
    
  <form  (ngSubmit)="loginSubmit()" >
    <br>
   <P style="font-weight: bolder;">INICIO DE SESION</P> 
    <ion-item class="fondo-login">
    
      <ion-input
        label="Email"
        type="email"
        label-placement="floating"
        aria-label="Email"
        id="email"
        name="email"
        [(ngModel)]="email"
        style="--highlight-color: #3363ff"
      >
      </ion-input>
    </ion-item>

    <ion-item class="fondo-login">
      <ion-input
        label="Password"
        type="password"
        label-placement="floating"
        name="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        style="--highlight-color: #3363ff"
      ></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Login</ion-button>
  </form>
  
  <br />
  <ion-label [routerLink]="'/register'" style="cursor: pointer; color: rgb(26, 18, 176);">
    No tenés usuario? Registrate
  </ion-label>
</ion-content>
