<ion-header>
  <ion-toolbar>
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-login ion-padding">
  <div class="logo-container">
    <ion-img src="assets/img/logo2.png" alt="Superhéroe" class="logo"></ion-img>
  </div>

  <form (ngSubmit)="loginSubmit()">
    <p style="font-weight: bolder; font-size: large; color: seashell">
      Accedé a tu cuenta
    </p>

    <ion-item>
      <ion-input
        label="Email"
        type="email"
        label-placement="floating"
        aria-label="Email"
        id="email"
        name="email"
        [(ngModel)]="email"
        (ionInput)="handleInputChange($event)"
        style="--highlight-color: #3363ff"
        #emailInput="ngModel"
        required="email"
      >
      </ion-input>
    </ion-item>
    <ion-text
      color="danger"
      style="font-size: small; margin-left: 5px"
      *ngIf="emailInput.invalid && emailInput.touched || error.errorEmail"
    >
      {{error.errorEmail || "EMAIL ES REQUERIDO"}}
    </ion-text>

    <ion-item style="margin-top: 10px">
      <ion-input
        label="Password"
        type="password"
        label-placement="floating"
        name="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        (ionInput)="handleInputChange($event)"
        style="--highlight-color: #3363ff"
        #passwordInput="ngModel"
        required="password"
      ></ion-input>
    </ion-item>
    <ion-text
      color="danger"
      style="font-size: small; margin-left: 5px"
      *ngIf="passwordInput.invalid && passwordInput.touched || error.errorPassword"
    >
      {{error.errorPassword || "PASWORD ES REQUERIDO"}}
    </ion-text>

    <ion-button
      type="submit"
      color="rojizo"
      size="default"
      class="btninicio-sesion"
      [disabled]="error.errorEmail || error.errorPassword ? true : false"
    >
      INICIAR SESIÓN
    </ion-button>
  </form>

  <ion-label [routerLink]="'/register'">
    <p
      style="
        cursor: pointer;
        color: rgb(15, 4, 236);
        text-align: end;
        margin-top: 5px;
        font-weight: bolder;
      "
    >
      No tenés usuario? REGISTRATE
    </p>
  </ion-label>
</ion-content>
