
::ng-deep .custom-alert .alert-title {
    color: #f42a2a;
    /* Color deseado del texto del header */
}

::ng-deep .custom-alert .alert-button {
    color: #035fa5;
    background-color: rgb(255, 255, 255) ;
    padding: 4px;
    border-radius: 5px;
}

::ng-deep .fondo-login {
  
 --background:  linear-gradient(
  #1b74b0, 
  rgba(0, 94, 155, 0)  
),url("/assets/img/background2.jpg") no-repeat center center / cover !important;
  background-size: cover !important; 
  background-position: center !important; 
  
  height: 100vh; 
}



::ng-deep .logo {
    width: 60%;
    height: 60%;
   
  }

  ::ng-deep .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  ::ng-deep ion-toolbar {
    --background: #8dbada; 
    --color: white; 
  }


  ::ng-deep .btninicio-sesion {
      font-size: 20px; 
      
      margin-top: 10px;
      width: 100%; 
    }
    
  