::ng-deep .fondo-login {
    --background: #add8e6 !important;
  }

  ::ng-deep .logo {
    width: 70%;
    height: 70%;
   
  }

  ::ng-deep .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }