<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrarse</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="tertiary"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo-login ion-padding" >

  <div class="logo-container">
    <br>
    <ion-img src="assets/img/logo.png" alt="Superhéroe" class="logo"></ion-img>
    <br>
</div>

  <form (ngSubmit)="registerUser()">
    <br>
    <P style="font-weight: bolder;">CREÁ UNA CUENTA</P> 
    <ion-item class="fondo-login">
      <ion-input
        label="Email"
        type="email"
        label-placement="floating"
        aria-label="Email"
        id="email"
        name="email"
        [(ngModel)]="email"
      >
      </ion-input>
    </ion-item>

    <ion-item class="fondo-login">
      <ion-input
        label="Password"
        type="password"
        label-placement="floating"
        name="password"
        id="password"
        name="password"
        [(ngModel)]="password"
      ></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Crear usuario</ion-button>
  </form>
</ion-content>
